.menu__groups__group
  .menu__groups__group__name
    WCUPについて話そう
  .menu__groups__group__message
    日本代表頑張って！
.menu__groups__group
  .menu__groups__group__name
    WCUPについて話そう
  .menu__groups__group__message
    日本代表頑張って！
