%li.memu__chatlist__list
  .groupname
    WCUPについて話そう
  .message
    日本代表頑張って！
%li.memu__chatlist__list
  .groupname
    仮想通貨について話そう
  .message
    NEM頑張って！
%li.memu__chatlist__list
  .groupname
    眠い
  .message
    頑張って！
