.message
  .message__name
    sumsum
  .message__createdat
    2018/06/02 18:30
  .message__text
    日本代表頑張って！
.message
  .message__name
    sumsum
  .message__createdat
    2018/06/02 18:30
  .message__text
    日本代表頑張って！
