.message
  .message--nickname
    sumsum
  .message--createdat
    2018/06/02 18:30
  .message--text
    日本代表頑張って！
.message
  .message--nickname
    sumsum
  .message--createdat
    2018/06/02 18:30
  .message--text
    日本代表頑張って！
