  .group {
    width: calc(100% - 300px);
    height: 100%;
    float: right;
    &__head {
      padding: 0 40px;
      height: 96px;
      &__title {
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
        float: left;
        &__members {
          margin-top: 15px;
          font-size: 12px;
          color: $grayColor4;
        }
      }
      &__edit{
        float: right;
        margin-top: 28px;
        border: solid thin $skyBlueColor;
        text-align: center;
        height:40px;
        padding: 0 20px;
        line-height: 40px;
        a {
          color: $skyBlueColor;
          text-decoration: none;
        }
      }
    }
    &__chat {
      clear: both;
      padding: 0 40px;
      background-color: $grayColor1;
      border-top: solid thin $grayColor2;
      height: calc(100% - 189px);
      .messages {
        margin-top: 40px;
        &--nickname {
          font-size: 16px;
          font-weight: bold;
          color: $blackColor;
          margin-right: 10px;
          float: left;
        }
        &--createdat {
          font-size: 12px;
          color: $grayColor4;
        }
        &--text {
          clear: both;
          font-size: 14px;
          color: $blackColor;
          padding-top: 10px;
          margin-bottom: 40px;
        }
      }
    }
    &__message {
      width: calc(100% - 80px);
      padding: 20px 40px;
      background-color: $grayColor3;
      form {
        .submit-message {
          width: calc(100% - 115px);
          background-color: $whiteColor;
          float: left;
          input.content {
            padding: 0 10px;
            width: calc(100% - 50px);
            line-height: 50px;
            border: none;
            float: left;
          }
          label {
            line-height: 50px;
            font-size: 20px;
          }
        }
        input.button {
          background-color: $skyBlueColor;
          color: $whiteColor;
          border: 0;
          width: 100px;
          text-align: center;
          line-height: 50px;
          margin-left: 15px;
        }
      }
    }
  }
