@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.nortification {
  background-color: $skyBlueColor;
  margin: 0 auto;
  p {
    color: $whiteColor;
    text-align: center;
  }
}
.wrapper {
  min-width: 100vw;
  height: 100vh;
}
