$mainBlueColor: #38AEF0;
$backgroundFontColor: #FFFFFF;
$messageFontColor: #434A54;
$subFontColor: #999999;
$menuUserBackColor: #253141;
$menuChatlistBackColor: #2f3e51;
$groupChatBackColor: #FAFAFA;
